# c object files #
##################
*.o

# generated headers and libraries #
###################################
libHelloJNI.so
HelloJNI.h
libLagmarkerNative.so
LagmarkerNative.h
VideoState.h
libVideoState.so
